<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidrion.customlistview1">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoss"
        android:label="BATIQU"
        android:roundIcon="@drawable/logoss"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Sidomukti"></activity>
        <activity android:name=".Parang" />
        <activity android:name=".Rupa" />
        <activity android:name=".Mega" />
        <activity android:name=".Lasem" />
        <activity android:name=".Barong" />
        <activity android:name=".Sekar" />
        <activity android:name=".Sedapir" />
        <activity android:name=".Sidoluhur" />
        <activity android:name=".Tambal" />
        <activity android:name=".SplashScreen"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>